@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  background-color: black;
}

.ff-orbitron{
  font-family: "Orbitron", sans-serif;
}

.inbox-bg{
  background: linear-gradient(90deg, #FF4300 -6.33%, #FF6400 103.92%);
}